<!DOCTYPE html>
{% extends "Base.html" %}
<html>
  {% block head %} {% endblock %} {% block title %}Sonic TheGame{% endblock %}
  {% block content %}
  <h1>Ceci est la page de jeu</h1>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
  <script>
    //New PiXi app
    const app = new PIXI.Application({
      width: 1270,
      height: 800,
      backgroundColor: 0x1099bb
    });
    document.body.appendChild(app.view);

    //New PIXI Container
    const container = new PIXI.Container();
    //add to the app
    app.stage.addChild(container);

    console.log(PIXI.utils.TextureCache);
    // debut des load
    const loader = PIXI.Loader.shared;
    loader
      .add("herbeCielBleu", "/static/herbeCielBleu.png")
      .add("ButtonStart", "/static/ButtonStart.png")
      .add("Sonic1", "/static/Sonic1.png");
    loader.on("complete", function(loader, resources) {
      let sprite1 = new PIXI.Sprite(loader.resources.herbeCielBleu.texture);
      let sprite2 = new PIXI.Sprite(loader.resources.ButtonStart.texture);
      let sprite3 = new PIXI.Sprite(loader.resources.Sonic1.texture);

      //intéractivité bouton start

      sprite2.interactive = true;
      sprite2.on("mousedown", onButtonDown);

      function onButtonDown() {
        sprite2.isdown = true;
        setInterval(function(){
             sprite3.x = sprite3.x + 90;
           }, 100);
      };
      //taille bouton start
      sprite2.width = 100;
      sprite2.height = 100;

      //position bouton start
      sprite2.x = 625;
      sprite2.y = 100;

      //position du sonic
      sprite3.x = 0;
      sprite3.y = 450;
      app.stage.addChild(sprite1, sprite2, sprite3);
    });

    //load des ressources
    loader.load();

    //const loader2 = PIXI.Loader.shared
    //loader2
    //.add('ButtonStart','/static/ButtonStart.jpg');
    //loader2
    //.on('complete', function(loader2, resources) {
    //let sprite2 = new PIXI.Sprite(loader.resources.ButtonStart.texture);
    //app.stage.addChild(sprite2);
    //});
    //loader2.load();

    //console.log(window.location);

    // Create a new texture
    //const texture = PIXI.Texture.from('herbeCielBleu.png');
    //const texture1 = PIXI.Texture.WHITE;

    //let loader = PIXI.Loader
    //  .add('herbeCielBleu', 'assets/herbeCielBleu.png');

    //let img;

    //function setup() {
    //sprite = new PIXI.Sprite(PIXI.loader.resources['img/image.png'].texture);
    //sprite.x = 40;
    //sprite.y = 60;
    //sprite.anchor.set(0.5, 0.5);
    //stage.addChild(sprite);
    //}

    //   On a ici les bases de notre moteur de jeu. En gros :
    //  on crée un canvas (renderer),
    //  on ajoute le canvas à la page (appendChild),
    //  on crée un conteneur (stage),
    //  on charge les ressources (loader),
    //  on initialise les sprites (setup) et on les met dans le conteneur (addChild),
    //  on crée une boucle infinie pour faire les changements à l’affichage.
    //  Les bases sont là mais on a encore du chemin à parcourir !
  </script>
  {% endblock %}
</html>
